    <!--/banner-section-->
<div id="demo-1" data-zs-src='["images/b3.jpg","images/b5.jpg","images/b1.jpg","images/b2.jpg","images/b4.jpg"]' data-zs-overlay="dots">
    <div class="demo-inner-content">

        <!--/banner-info-->
        <div class="baner-info">
            <h4>handcrafted </h4>
            <h3>
                soothing beverages
            </h3>
            <p>Itaque earum rerum hic tenetur a sapiente delectus </p>
            <a class="hvr-rectangle-out w3_play_icon1" href="#"> read more</a>
        </div>
        <!--/banner-ingo-->
    </div>
</div>
<!--/banner-section-->