    <!-- testimonials -->
<div class="testimonials section-w3ls" id="testimonials">
    <div class="container">
        <h3 class="w3ls-title">
            <span>T</span>estimonials
        </h3>
        <div class="w3_testimonials_grids w3_testimonials_grids">
            <div class="sreen-gallery-cursual">
                <div id="owl-demo" class="owl-carousel">
                    <div class="item-owl">
                        <div class="col-md-3 col-sm-3 col-xs-3 img-agile">
                            <img src="images/s1.jpg" class="img-responsive" alt="" />
                            <h6>Michael Paul</h6>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 test-review test-tooltip1">
                            <p>
                                <i class="fa fa-quote-left" aria-hidden="true"></i> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                                dolore magna aliquyam erat, sed diam voluptua.
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="col-md-3 col-sm-3 col-xs-3 img-agile">
                            <img src="images/s2.jpg" class="img-responsive" alt="" />
                            <h6>Riya Allen</h6>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 test-review test-tooltip1">
                            <p>
                                <i class="fa fa-quote-left" aria-hidden="true"></i> Polite sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                magna aliquyam erat, sed diam voluptua.
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="col-md-3 col-sm-3 col-xs-3 img-agile">
                            <img src="images/s3.jpg" class="img-responsive" alt="" />
                            <h6>Riya Allen</h6>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 test-review test-tooltip1">
                            <p>
                                <i class="fa fa-quote-left" aria-hidden="true"></i> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                                dolore magna aliquyam erat, sed diam voluptua.
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <!--//screen-gallery-->
            </div>
        </div>
    </div>
</div>
<!-- //testimonials -->