!DOCTYPE html>
<html lang="zxx">

<head>
    <title>THE COFFEE HOUSE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="abc" />

    <!-- Custom Theme files -->
    <link href="~/Content/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Content/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Content/css/styles.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Content/css/tch.min.css" type="text/css" rel="stylesheet" media="all">
    <!-- banner slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/zoomslider.css" />
    <!--gallery -->
    <link type="text/css" rel="stylesheet" href="~/Content/css/cm-overlay.css" />
    <!-- //gallery -->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!-- numscroller -->
    <script type="text/javascript" src="~/Content/js/numscroller-1.0.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <!-- font-awesome icons -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- web-fonts -->
    <link href="~/fonts/fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="~/fonts/fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400,500,600,700,800" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<body>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="logo_wrap">
                        <a href="/" class="logo" title="the coffee house">
                            <svg class="svg-logo">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
                            </svg>
                        </a>
                        <h1 class="hidden"><a class="logo-name" href="Home/Index" title="The Coffee House">The Coffee House</a></h1>
                    </div>
                    <a class="visible-xs visible-sm" href="javascript:void(0)" id="showmenu-mobile"><span></span><span></span><span></span></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 header_menu">
                    <ul class="clearfix">
                        <li class="has_child">
                            <a href="/pages/cau-chuyen-thuong-hieu" title="Câu chuyện thương hiệu">Câu chuyện thương hiệu</a>
                            <ul class="menu_child" id="menu_child_1_1">
                                <li><a href="/pages/cau-chuyen-thuong-hieu" title="Câu chuyện thương hiệu">VỀ THE COFFEE HOUSE</a></li>
                                <li><a href="/blogs/trach-nhiem-cong-dong" title="Câu chuyện thương hiệu">TRÁCH NHIỆM CỘNG ĐỒNG</a></li>
                                <li><a href="/blogs/thong-cao-bao-chi" title="Câu chuyện thương hiệu">THÔNG CÁO BÁO CHÍ</a></li>
                            </ul>
                        </li>
                        <li class="has_child">
                            <a href="/pages/hanh-trinh-tu-nong-trai-den-ly-ca-phe" title="Chuyện cà phê">Chuyện cà phê</a>
                            <ul class="menu_child" id="menu_child_2_2">
                                <li><a href="/pages/hanh-trinh-tu-nong-trai-den-ly-ca-phe" title="Chuyện cà phê">Hành trình từ nông trại đến ly cà phê</a></li>
                                <li><a href="/pages/hat-ca-phe-the-coffee-house" title="Chuyện cà phê">Hạt cà phê the coffee house</a></li>
                                <li><a href="/pages/nghe-thuat-pha-che" title="Chuyện cà phê">Nghệ thuật pha chế</a></li>
                                <li><a href="/blogs/workshop-ca-phe" title="Chuyện cà phê">Workshop cà phê</a></li>
                                <li><a href="/pages/truy-xuat-nguon-goc" title="Chuyện cà phê">Truy xuất nguồn gốc</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/menu/index" title="Sản phẩm">Sản phẩm</a>
                        </li>

                        <li>
                            <a href="/pages/rewards" title="Ưu đãi thành viên">Ưu đãi thành viên</a>
                        </li>

                        <li>
                            <a href="/blogs/news" title="Tin tức">Tin tức</a>
                        </li>

                        <li>
                            <a href="http://tuyendung.thecoffeehouse.com/" title="Tuyển dụng" target="blank">Tuyển dụng</a>
                        </li>

                        <li>
                            <a href="/pages/our-stores" title="Cửa hàng">Cửa hàng</a>
                        </li>
                        <li class="search hidden-xs hidden-sm">
                            <a href="javascript:void(0)"><svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg><!-- <i class="fas fa-search"></i> --></a>
                            <div class="search_input_wrap">
                                <form class="search_form" action="/search">
                                    <div class="search-radio">
                                        <input type="radio" name="type" value="product" checked="checked">
                                        <span>Thức uống</span>
                                        <input type="radio" name="type" value="article">
                                        <span>Tin tức</span>
                                    </div>
                                    <div class="search-inner">
                                        <input required="" name="q" maxlength="40" autocomplete="off" class="search-input" type="text" size="20" placeholder="Tìm kiếm sản phẩm...">
                                        <button type="submit" class="btn-search btn" id="search-header-btn"><svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg><!-- <i class="fas fa-search"></i> --></button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id="product">
            @RenderBody();
        </div>
    </main>


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
                    <svg class="logo_footer">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-footer"></use>
                    </svg>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
                    <h3 class="footer_title">ABOUT</h3>				<ul class="footer_linklists">
                        <li><a href="/pages/cau-chuyen-thuong-hieu" title="Về Chúng Tôi">Về Chúng Tôi</a></li>
                        <li><a href="/pages/hat-ca-phe-the-coffee-house" title="Hạt Cà Phê The Coffee House">Hạt Cà Phê The Coffee House</a></li>
                        <li><a href="/blogs/news" title="Blog">Blog</a></li>
                        <li><a href="http://tuyendung.thecoffeehouse.com/" title="Cơ Hội Nghề Nghiệp">Cơ Hội Nghề Nghiệp</a></li>
                        <li><a href="/pages/our-stores" title="Cửa Hàng">Cửa Hàng</a></li>
                    </ul>				<div class="gov">
                        <a target="_blank" rel="nofollow" href="http://online.gov.vn/Home/WebDetails/48042"><img width="200" src="//theme.hstatic.net/1000075078/1000610097/14/gov.png?v=633" alt="gov"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
                    <div class="hotline_footer">
                        <h3 class="footer_title">Always-on Support</h3><p>Delivery 1800 6936  (07:00-21:00)</p><p>Support +842871 078 079 (07:00-21:00) </p>
                    </div>
                    <div class="address_footer">
                        <h3 class="footer_title">Address</h3><p>
                            86 - 88 Cao Thang, Ward 4, District 3, Ho Chi Minh, Vietnam.
                            <br>
                            Head Office 2: 62 Tran Quang Khai, Tan Dinh Ward, District 1 Ho Chi Minh, Vietnam.
                        </p><p>+842871 078 079</p><p>hi@thecoffeehouse.vn</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
                    <h3 class="footer_title">Delivery</h3>				<ul class="footer_linklists">
                        <li><a href="/" title="Shipping methods">Shipping methods</a></li>
                        <li><a href="/" title="Payment">Payment</a></li>
                        <li><a href="/" title="Cash voucher">Cash voucher</a></li>
                        <li><a href="/" title="Return">Return</a></li>
                        <li><a href="/" title="Exchange">Exchange</a></li>
                    </ul>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright_footer display_flex justify-content-spbetween">
                        <div class="copyright_text copyright_col">Copyright © 2020 The Coffee House. All rights reserved.</div>					<div class="copyright_menu copyright_col">
                            <ul>
                                <li><a href="https://order.thecoffeehouse.com/policy">Privacy Policy</a></li>
                                <li><a href="https://order.thecoffeehouse.com/term">Terms of Use</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- banner slider -->
    <script src="~/Content/js/modernizr-2.6.2.min.js"></script>
    <script src="~/Content/js/jquery.zoomslider.min.js"></script>
    <!-- //banner slider -->
    <!-- //gallery -->
    <script src="~/Content/js/jquery.tools.min.js"></script>
    <script src="~/Content/js/jquery.mobile.custom.min.js"></script>
    <script src="~/Content/js/jquery.cm-overlay.js"></script>

    <script>
        $(document).ready(function () {
            $('.cm-overlay').cmOverlay();
        });
    </script>
    <!-- //gallery -->
    <!-- testimonials -->
    <!-- required-js-files-->
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <script src="~/Content/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 1,
                lazyLoad: true,
                autoPlay: false,
                navigation: true,
                navigationText: true,
                pagination: true,
            });
        });
    </script>
    <!--//required-js-files-->
    <!-- start-smooth-scrolling -->
    <script src="~/Content/js/move-top.js"></script>
    <script src="~/Content/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="~/Content/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- navigation  -->
    <script src="~/Content/js/main.js"></script>
    <!-- //navigation -->
    <!-- newsletter modal -->

    <script>
        $('#myModal').modal('show');
    </script>
    <!-- //newsletter modal -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>
		var path = window.location.pathname;
		var query = this.getQueryParams(document.location.search);

		if (query['screen'] == 'Order' || query['screen'] == 'Coupon') {
			var query = location.search.substr(1);
			var locationMobile = "https://order.thecoffeehouse.com/";
			if (query.length) locationMobile = locationMobile + "?" + query;
			window.location.href = locationMobile;
		}
		if (query['screen'] == 'Mission' || query['screen'] == 'Profile' ) {
			var query = location.search.substr(1);
			var locationMobile = "https://rewards.thecoffeehouse.com/like-a-king/";
			if (query.length) locationMobile = locationMobile + "?" + query;
			window.location.href = locationMobile;
		}

		if(query['screen'] == 'app'){
			window.location.href = 'https://app.adjust.com/432wbpd';
		}
		if(query['screen'] == 'likeaboss'){
			window.location.href = 'https://app.adjust.com/7a7yqka?redirect=https%3A%2F%2Fk3m28.app.goo.gl%2FQ66A';
		}
		if(query['screen'] == 'likeaboss5s'){
			window.location.href = 'https://app.adjust.com/lvtjy3j?redirect=https%3A%2F%2Fk3m28.app.goo.gl%2FQ66A';
		}

		if(query['screen'] == 'likeabosskw'){
			window.location.href = 'https://app.adjust.com/ulnzbl9?redirect=https%3A%2F%2Fk3m28.app.goo.gl%2FQ66A';
		}


		if(query['screen'] == 'likeaking5s'){
			window.location.href = 'https://app.adjust.com/prc8g4p?redirect=https%3A%2F%2Fk3m28.app.goo.gl%2FFiHU';
		}

		if(query['screen'] == 'likeakingkw'){
			window.location.href = 'https://app.adjust.com/4r4yd8m?redirect=https%3A%2F%2Fk3m28.app.goo.gl%2FFiHU';
		}

		function getQueryParams(qs) {
			qs = qs.split('+').join(' ');
			var params = {},
					tokens,
					re = /[?&]?([^=]+)=([^&]*)/g;
			while (tokens = re.exec(qs)) {
				params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
			}
			return params;
		}

		function detectIsMobile() {
			return navigator && navigator.userAgent && navigator.userAgent.match(/(iPad|iPhone|iPod|Android)/g) ? true : false
		}
		(function(d){
			var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=363772567412181&version=v2.0";
			js.onload = function() {
				$('.fb-plugin-chat-container').html('<div class="fb-customerchat" page_id="1449657571974931" ref="website" minimized="true"></div>')
			}
			d.getElementsByTagName('head')[0].appendChild(js);
		}(document));
    </script>



    <script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","480365742500145");fbq("track","PageView");</script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=480365742500145&amp;ev=PageView&amp;noscript=1"></noscript>


    <script type="text/javascript" id="">var _siteId="677391311";(function(){var a=window;if(!a.admp_event){var b=window.admp_event=function(){b.queue.push(arguments)};b.siteId=_siteId;b.track=b;b.queue=[];a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="//st-a.anthill.vn/insight.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(a,c)}})();</script>
    <div id="fb-root" class="fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div></div>
</body>
</html>