    <!-- footer -->
<div class="agile-footer w3ls-section">
    <div class="container">
        <div class="list-footer">
            <ul class="footer-nav">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="services.html">Menu</a>
                </li>
                <li>
                    <a href="gallery.html">Gallery</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
        <div class="agileits_w3layouts-footer-bottom">
            <div class="w3_agile-footer-grids">
                <div class="col-md-3  w3_agile-footer1 f1">
                    <h2>
                        <a href="index.html">Beverages</a>
                    </h2>
                    <h5 class="f1">about us</h5>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem atus error sit volupt unde omnis iste
                        iatis un.
                    </p>
                </div>
                <div class="col-md-6  w3_agile-footer1 f2">
                    <div class="col-md-4 col-sm-4 col-xs-4 inner-li">
                        <h5>Drink</h5>
                        <ul class="w3ls-footer-bottom-list">
                            <li>
                                <a class="page-scroll scroll" href="#about">volupta</a>
                            </li>
                            <li>
                                <a class="page-scroll scroll" href="#pricing">omnis</a>
                            </li>
                            <li>
                                <a class="page-scroll scroll" href="#gallery">iatis</a>
                            </li>
                            <li>
                                <a class="page-scroll scroll" href="#team">Sedutp</a>
                            </li>
                            <li>
                                <a class="page-scroll scroll" href="#contact">undeo</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 inner-li">
                        <h5>buy online</h5>
                        <ul class="w3ls-footer-bottom-list">
                            <li>
                                <a href="#">iste</a>
                            </li>
                            <li>
                                <a href="#">perspi</a>
                            </li>
                            <li>
                                <a href="#">natus</a>
                            </li>
                            <li>
                                <a href="#">atisu</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 inner-li">
                        <h5>support</h5>
                        <ul class="w3ls-footer-bottom-list">
                            <li>
                                <a href="#">suppport</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">media</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3  w3_agile-footer1 f3">
                    <h5>follow us</h5>
                    <ul class="footer-social-icons">
                        <li>
                            <a href="#">
                                <i class="fa icon1 fa-facebook icons" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa icon2 fa-twitter icons" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa icon3 fa-google-plus icons" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa icon3 fa-linkedin icon4 icons" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="agileits_w3layouts-copyright">
            <p>
                © 2018 Beverages. All Rights Reserved | Design by
                <a href="http://w3layouts.com/" target="=_blank"> W3layouts </a>
            </p>
        </div>
    </div>
</div>
<!-- //footer -->
