    <!-- menu -->
<div class="w3ls-services section-w3ls">
    <div class="container">
        <h3 class="w3ls-title">
            <span>M</span>enu
        </h3>
        <div class="grid">
            <figure class="col-md-3 col-xs-6 w3l-service-hover">
                <img src="images/g2.jpg" alt="t1" class="img-responsive" />
                <figcaption>
                    <h4>cocktails</h4>
                </figcaption>
            </figure>
            <figure class="col-md-3 col-xs-6  w3l-service-hover s2">
                <img src="images/g3.jpg" alt="t2" class="img-responsive" />
                <figcaption>
                    <h4>cold beverages</h4>
                </figcaption>
            </figure>
            <figure class="col-md-3 col-xs-6 w3l-service-hover s3">
                <img src="images/g1.jpg" alt="t1" class="img-responsive" />
                <figcaption>
                    <h4> beverages</h4>
                </figcaption>
            </figure>
            <figure class="col-md-3 col-xs-6 w3l-service-hover s4">
                <img src="images/g4.jpg" alt="t3" class="img-responsive" />
                <figcaption>
                    <h4>desserts</h4>
                </figcaption>
            </figure>
            <div class="clearfix"></div>
            <figure class="col-md-3 col-xs-6  w3l-service-hover s2">
                <img src="images/g3.jpg" alt="t2" class="img-responsive" />
                <figcaption>
                    <h4>cocktails</h4>
                </figcaption>
            </figure>
            <figure class="col-md-3 col-xs-6 w3l-service-hover s4">
                <img src="images/g4.jpg" alt="t3" class="img-responsive" />
                <figcaption>
                    <h4>hot beverages</h4>
                </figcaption>
            </figure>

            <figure class="col-md-3 col-xs-6 w3l-service-hover">
                <img src="images/g2.jpg" alt="t1" class="img-responsive" />
                <figcaption>
                    <h4>coffee</h4>
                </figcaption>
            </figure>
            <figure class="col-md-3 col-xs-6 w3l-service-hover s3">
                <img src="images/g1.jpg" alt="t1" class="img-responsive" />
                <figcaption>
                    <h4>mocktails</h4>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
<!-- //menu -->
