
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Thêm sản phẩm</h4>
        @Html.ValidationSummary(true)


    </div>
}